@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home div {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .left {
  background-color: purple;
}

.home .right {
  background-color: #4e4e8f;
}

h2 {
  font-size: 4rem;
  color: #D5DFE5;
}

.how {
  height: 100vh;
  background-color: #84bcda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how h3 {
  font-size: 3rem;
  color: #d5dfe5;
  margin: 5rem;
}

.how .box-container {
  width: 60%;
  height: 70%;
  background-color: white;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how .picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url(./img/together.jpg);
  background-repeat: none;
  background-size: cover;
  padding-right: 4rem;
}

.how .services {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how .services #tag-line {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 1.5rem;
  margin-top: 1rem;
}

.how .services p {
  margin: 1rem 0 2rem 0;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  color: #083f3f;
  line-height: 1.2222;
}

.how .services .diff-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  font-size: 2rem;
  font-weight: 650;
  color: purple;
  margin: 0 1.5rem;
}

.how .services .diff-services div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #84bcda;
  text-align: center;
  padding: 1rem;
}

.how .services .diff-services div h1 {
  padding: 0 10rem 0 10rem;
  font-size: 2rem;
}

.how .services .diff-services .customer {
  border-bottom: 0.5rem solid plum;
  margin-right: 1rem;
}

.how .services .diff-services .business {
  margin-left: 1rem;
}

.how .services .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.how .services .benefits .buns {
  width: 30rem;
  height: 15rem;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1%;
  -webkit-box-shadow: 0 0 0.5rem #4e4e8f;
          box-shadow: 0 0 0.5rem #4e4e8f;
}

.how .services .benefits .buns .icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.how .services .benefits .buns .context {
  padding: 0.5rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: 550;
  font-size: 1.5rem;
  color: #083f3f;
}

.how .services .download {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
  background-color: purple;
  height: 4rem;
  width: 60rem;
  text-align: center;
  border-radius: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.how .services .download a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}

.contact {
  height: 40vh;
  background-color: #4e4e8f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-container {
  text-align: center;
}

.contact .contact-container h2 {
  padding: 3rem 0;
}

.contact .contact-container .team {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-container .team .nosimo, .contact .contact-container .team .tebogo, .contact .contact-container .team .obakeng, .contact .contact-container .team .zimvo {
  margin: 0 2rem;
}

.contact .contact-container .team .nosimo h3, .contact .contact-container .team .nosimo p, .contact .contact-container .team .tebogo h3, .contact .contact-container .team .tebogo p, .contact .contact-container .team .obakeng h3, .contact .contact-container .team .obakeng p, .contact .contact-container .team .zimvo h3, .contact .contact-container .team .zimvo p {
  color: grey;
}

.contact .contact-container .team .nosimo h3, .contact .contact-container .team .tebogo h3, .contact .contact-container .team .obakeng h3, .contact .contact-container .team .zimvo h3 {
  font-size: 2rem;
}

.contact .contact-container .team .nosimo p, .contact .contact-container .team .tebogo p, .contact .contact-container .team .obakeng p, .contact .contact-container .team .zimvo p {
  font-weight: 600;
  font-size: 1.5rem;
  color: black;
}

.contact .contact-container .team .nosimo .contact-info, .contact .contact-container .team .tebogo .contact-info, .contact .contact-container .team .obakeng .contact-info, .contact .contact-container .team .zimvo .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact-container .team .nosimo .contact-info a, .contact .contact-container .team .tebogo .contact-info a, .contact .contact-container .team .obakeng .contact-info a, .contact .contact-container .team .zimvo .contact-info a {
  text-decoration: none;
  padding: 0.3rem;
  color: whitesmoke;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: medium;
}

html {
  font-size: 69%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 7rem;
}

h3 {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */